body {
  width: 95vw;
  background-color: antiquewhite;
  margin: auto;
}
header {
  width: 100%;
  background-color: lightgray;
  padding: 1vw;
}
nav {
  text-align: center;
}
a {
  padding: 1vw 2vw;
  color: black;
}
a:hover {
  background-color: darkgray;
  color: antiquewhite;
}
main {
  display: flex;
  background-color: cadetblue;
  justify-content: center;
  align-items: center;
}
.left_main {
  flex: 70%;
}
.right_main {
  flex: 30%;
}
section,
article {
  padding: 5%;
  background-color: royalblue;
  flex-direction: column;
}
aside {
  padding: 5%;
  background-color: blueviolet;
}
footer {
  width: 100%;
  background-color: lightcyan;
  text-align: center;
}
