body {
  background: url("https://images.pexels.com/photos/255379/pexels-photo-255379.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    no-repeat left top;
  background-size: cover;
}
.container {
  width: 95vw;
  margin: auto;
  text-align: center;
}
header {
  background-color: rgba(164, 250, 254, 0.8);
  border-radius: 3px;
  overflow: hidden;
}
nav {
  background-color: rgba(102, 165, 141, 0.8);
}
.main {
  background-color: rgba(180, 215, 227, 0.1);
  display: grid;
  grid-template-columns: 73% 25%;
  height: 50vh;
}
.column1 {
  margin: 0 2vw;
}
section {
  background-color: rgba(248, 152, 126, 0.7);
  height: 50%;
}
article {
  background-color: rgba(219, 176, 168, 0.7);
  height: 50%;
}
.column2 {
  margin: 0 1%;
}
aside {
  background-color: rgba(255, 79, 248, 0.7);
  height: 90%;
  margin-top: 10%;
}
footer {
  background-color: rgba(255, 223, 107, 0.8);
  border-radius: 3px;
}
