body {
  
  width: 95vw;
  background-color: rgb(52, 63, 92);
  margin: auto;
  margin-top: 1vh;
}

h1,
i {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* <weight>: Use a value from 300 to 800 */
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: antiquewhite;
}
p {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  /* <weight>: Use a value from 300 to 900 */
  font-weight: 300;
  font-style: normal;
  color: white;
}
#active {
  color: rgb(65, 181, 243);
}
header,
footer {
  background-color: rgb(30, 36, 53);
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
footer {
  box-shadow: rgba(0, 0, 0, 0.3) 19px 0px 38px,
    rgba(0, 0, 0, 0.22) 15px 0px 12px;
}
header img,
footer img {
  height: 10vh;
  float: left;
}
nav {
  text-align: center;
  padding-top: 1vh;
}
i {
  font-size: 5vh;
  font-weight: bold;
  padding-left: 2vw;
}
a,
i {
  color: rgb(189, 41, 45);
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  font-family: "Open Sans", sans-serif;

  visibility: hidden;
  background-color: rgb(65, 181, 243);
  color: rgb(30, 36, 53);
  text-align: center;
  border-radius: 4px;
  padding: 5px 2px;
  /* top: 110%;
  left: 45%; */
  margin-left: 1vw;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
iframe {
  /* float: right; */
  width: 50vw;
  height: 50vh;
  min-width: 600px;
  min-height: 450px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
#main {
  margin: auto;
  /* width: 95%; */
  /* min-height: 75vh; */
}
