body {
  width: 100%;
  background-color: rgb(52, 63, 92);
  margin: auto;
  margin-top: 1vh;
}

h1,
i {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* <weight>: Use a value from 300 to 800 */
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "width" 100;
  color: antiquewhite;
}
p {
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  /* <weight>: Use a value from 300 to 900 */
  font-weight: 300;
  font-style: normal;
  color: white;
}
#active {
  color: rgb(65, 181, 243);
}
header,
footer {
  background-color: rgb(30, 36, 53);
  height: 10vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  width: 100%;
  position: fixed;
  z-index: 1;
}
header {
  top: 0;
}
footer {
  box-shadow: rgba(0, 0, 0, 0.3) 19px 0px 38px,
    rgba(0, 0, 0, 0.22) 15px 0px 12px;
  bottom: 0;
  height: 11vh;
}
#donate {
  width: 50vw;
  margin: 12vh auto;
  text-align: center;
}
details {
  width: 95%;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  align-content: space-between;
  margin-bottom: 1vh;
}
details p {
  color: rgb(30, 36, 53);
}
details img {
  max-width: 95%;
}
header img,
footer img {
  height: 10vh;
  float: left;
}
nav {
  text-align: center;
  padding-top: 1vh;
}
i {
  font-size: 5vh;
  font-weight: bold;
  margin: 1vh 2vw;
}
a,
i,
footer {
  color: rgb(189, 41, 45);
}
button:hover {
  background-color: rgb(189, 41, 45);
}
iframe {
  width: 50vw;
  height: 50vh;
  min-width: 500px;
  min-height: 450px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 2vh auto;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  font-family: "Open Sans", sans-serif;

  visibility: hidden;
  background-color: rgb(65, 181, 243);
  color: rgb(30, 36, 53);
  text-align: center;
  border-radius: 4px;
  padding: 5px 2px;
  margin: 2vh 0 0 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
#main {
  margin: 12vh auto;
  width: 90vw;
}
#container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 12vh auto 1vh auto;
}
input,
textarea {
  width: 95%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  width: 90%;
  padding: 10px;
  background: rgb(65, 181, 243);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: auto;
}

#email {
  margin-right: 20px;
}
#YouTube-He-Man {
  display: block;
  text-align: right;
}
.info {
  display: flex;
  justify-content: space-between;
}
.info span {
  padding-bottom: 1vh;
  margin: 0 5px;
}
details {
  width: 95%;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  align-content: space-between;
  margin-bottom: 1vh;
}
details p,
dialog p {
  color: rgb(30, 36, 53);
}
details img {
  max-width: 95%;
  margin: auto;
}
.terms,
.privacy {
  text-decoration: underline;
}
summary,
.terms:hover,
.privacy:hover {
  cursor: pointer;
}

dialog {
  padding: 1rem 3rem;
  background: white;
  max-width: 400px;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  animation: fadeIn 1s ease both;
}
dialog::backdrop {
  animation: fadeIn 1s ease both;
  background: rgba(255, 255, 255, 0.4);
  z-index: 2;
  backdrop-filter: blur(20px);
}
.x {
  filter: grayscale(1);
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 10px;
  width: 10%;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: right;
}
.x &:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
  }
  #main {
    width: 95vw;
    min-width: 600px;
    margin: 12vh auto;
  }
  .info {
    font-size: 0.7em;
  }
  iframe {
    width: 95vw;
    margin: auto;
  }
  footer {
    height: 13vh;
  }
  #email {
    margin-right: 0;
  }
}
